/* src/app/features/holiday-packages/payment/payment.component.scss */
.payment-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #card-element {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  