/* Add your custom styles here */
#card-element {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  #card-errors {
    color: red;
  }
  
 
  .card-payment{
    margin-top: 50px;
    padding: 8px 55px;
    margin-left: 25%;
    margin-bottom: 50px;
    width: 50%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}