<div *ngIf="isInside"  class="footer-container">
  <div class="footer-content">
    <div class="social-media">
      <h4>Follow Us</h4>
      <a href="https://facebook.com" target="_blank">
        <img src="../../../assets/facebook-icon.svg" alt="Facebook">
      </a>
      <a href="https://twitter.com" target="_blank">
        <img src="../../../assets/twitter-icon.svg" alt="Twitter">
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="../../../assets/instagram-icon.svg" alt="Instagram">
      </a>
    </div>
    <div class="information">
      <h4>Information</h4>
      <ul>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Rule The World. All rights reserved.</p>
  </div>
</div>
