.flight-page{
    background-size: cover;
    background-position: center;
    background-image: url('../../../../assets/flight-img.jpg');
}
.container{
    margin-left: 10% !important;
}
.airport-head{
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-left: 85px;
}
.card-title{
    font-size: 20px;
    font-weight: 400;
}
.card-text{
    font-size: 16px;
    font-weight: 400;
}