<div class="signup-page">
  <p class="title">RULE THE WORLD</p>

<div class="signup-container">
    <h2 class="login-title">Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <div class="row">
      <div class="col-12">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" placeholder="Enter your first name" required>
      </div>
      <div class="col-12">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" placeholder="Enter your last name" required>
      </div>
      <div class="col-12">
        <label for="email">Email:</label>
        <input type="email" class="email" id="email" formControlName="email" placeholder="Enter your email" required>
      </div>
      <div class="col-12">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password" required>
      </div>
    </div>
      <button type="submit" (click)="onSigningup()">Sign Up</button>
    </form>
  </div>
  <div class="additional-options">
    <button (click)="toLogin()" >Login</button>
    <!-- <button>Forgot Password?</button> -->
  </div>  
</div>